<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evorsio.eshop.mapper.SkuMapper">

    <resultMap id="BaseResultMap" type="com.evorsio.eshop.domain.Sku">
            <id property="id" column="id" />
            <result property="spuId" column="spu_id" />
            <result property="spec" column="spec" />
            <result property="price" column="price" />
            <result property="stock" column="stock" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,spu_id,spec,price,stock,deleted
    </sql>
</mapper>
